<div class="col-md-6 col-md-offset-4">
	<h1>About <b>COOKPAD</b></h1>
</div>

<div class="col-md-12">
	<p>
		Cookpad is an innovative way to access recipes of various ghanaian dishes. Built by a team of 4 developers in the Department of Computer Science and Information Techonology. Cookpad gives an easy and concised way to navigate and access all your favourite Ghanaian foods in the market. Built with user's concerned and experience, Cookpad gives users the best experience they chould have on any other recipe website. With the site targets mainly being the ordinary Ghanaian, tourist and foreigners in their countries who want to try some Ghanaian dishes themselves.    
	</p>

</div>


<div class="col-md-12">
<h3><b>How It Works</b></h3>

<p>
	Cookpad is easy to use with its excellent layout, quality graphics and presentation. The site contents are perfectly arranged making users find their recipes in no time. The site also gives users alot of functionality such as being able to create their personal account, and also show their cooking skills and experience by creating their own recipes, users can delete their created recipes when they feel their recipes are archiac. Users can also comment on other recipes and share ideas on various on recipes.
</p>

<ul>
	<li><h4><b>Homepage:</b></h4> Cookpad's Homepage displays all the Ghanaian dishes available on the site.</li>
	
	<li><h4><b>Showpage:</b></h4> The Showpage contains the recipe for a particular food. This can be access by clicking on the IMAGE or the NAME of the food on the Homepage.</li>
	
	<li><h4><b>Creating New Recipe:</b></h4>A new recipe can be created by clicking on ADD NEW RECIPE on the navigation bar at the top of the site. A form will appear which the user can follow according and finally clicks on the CREATE RECIPE button at the bottom of the form to create the recipe.</li>
	
	<li><h4><b>Editing A Recipe:</b></h4>Editing a recipe can be done by accessing the Showpage and clicking on EDIT RECIPE button right below the Showpage.A form will appear which the user can follow according and finally clicks on the UPDATE RECIPE button at the bottom of the form to edit the recipe. </li>
	
	<li><h4><b>Commenting:</b></h4>er can comment on another users recipe or their own recipe by accesing the Showpage where the Comment Section can be found right below the Showpage. Users have to write their comments in the provided textbox and click Create Comment button to add their comments.</li>
	
	<li><h4><b>Signing Up :</b></h4>A user can Sign Up by clicking on SIGN UP on the navigation bar at the top of the site. A form will appear which the user can follow according and finally clicks on the SIGN UP button at the bottom of the form to create an account on the site.</li>
	
	<li><h4><b>Signing In/ Log In:</b></h4>A user can Sign In by clicking on SIGN IN on the navigation bar at the top of the site. A form will appear which the user can follow according and finally clicks on the SIGN IN button at the bottom of the form to sign in into their account on the site.</li>
</ul>

</div>